<main class="layout layout--list">
    <section class="page-hero">
        <hgroup>
            <h1>{{metadata.title}}</h1>
            <p>{{metadata.description}}</p>
        </hgroup>
    </section>

    {{#if has_body}}
    <section class="page-content">{{body}}</section>
    {{/if}}

    <section class="post-list">
        {{#each pages}} {{>_partials/post_card .}} {{/each}}
    </section>

    {{#if pagination.has_pages}}
    <nav class="pagination">
        {{#if pagination.has_previous}}
        <a href="{{pagination.previous}}">&larr;</a>
        {{/if}}
        <span
            >Page {{pagination.current_page}} of
            {{pagination.total_pages}}</span
        >
        {{#if pagination.has_next}}
        <a href="{{pagination.next}}">&rarr;</a>
        {{/if}}
    </nav>
    {{/if}}
</main>
