<main class="layout layout--single">
    <article>
        <header class="post-header">
            <p class="post-meta">{{metadata.date}} · {{metadata.author}}</p>
            <h1>{{metadata.title}}</h1>
            <p>{{metadata.description}}</p>
        </header>
        {{body}} {{#if metadata.has_tags}}
        <section class="post-tags">
            <div class="tag-list">
                {{#each metadata.tags}}
                <a href="{{permalink}}">{{name}}</a>
                {{/each}}
            </div>
        </section>
        {{/if}}
    </article>
</main>
